# IDE files
.idea/

# node files
node_modules/
package-lock.json

# configuration files
.env
src/documents/images/profiles/
src/documents/images/educations/
src/documents/images/ktp/
src/documents/images/npwp/
src/documents/images/teachings/