# IDE files
.idea/

# node files
node_modules/
package-lock.json

# configuration files
.env
# public/
sonar-project.properties
.sannerwork/
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
public/files/userJson.json
public/Migration_Dec_16_21_15
.DS_Store